/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*  */
* {
  box-sizing: border-box;
  font-family: 'MicrosoftJhengHeiRegular';
}

/* header */
.wrap {
  width: 1024px;
  margin: 0 auto;
  background: #fafafa;
}

header {
  position: relative;
  display: flex;
  background: url('../images/img-headerShape.png') no-repeat;
  height: 399px;
}

header .personal-info {
  position: absolute;
  top: 125px;
  left: 135px;
  text-align: center;
}

.personal-info img {
  margin-bottom: 11px;
}

.personal-info h1 {
  font-size: 42px;
  margin-bottom: 9px;
}

.personal-info p {
  font-size: 14px;
  color: #4a4a4a;
  margin-bottom: 8px;
}

header .contact-info {
  position: absolute;
  top: 125px;
  left: 422px;
}

.contact-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.contact-info img {
  margin-right: 12px;
}

.contact-info-item span {
  color: #fff;
  font-size: 18px;
}

/* modern web skill */
.skills {
  margin: 130px 0 56px;
}

.skills h2 {
  font-weight: bold;
  color: #1736dc;
  font-size: 24px;
  text-align: center;
  margin-bottom: 48px;
}

.skill-content {
  display: flex;
  justify-content: center;
}

.skill-item {
  width: 284px;
  padding: 33px 32px 27px 32px;
  background: #fff;
  border-radius: 5px;
  margin-right: 17px;
}

.skill-item:first-child {
  border-bottom: 6px solid #f58d23;
}

.skill-item:nth-child(2) {
  border-bottom: 6px solid #539e43;
}

.skill-item:last-child {
  border-bottom: 6px solid #6762a6;
}

.skill-item img {
  display: block;
  margin: 0 auto 25px;
}

.skill-item h3 {
  margin-bottom: 26px;
  text-align: center;
  color: #4a4a4a;
  font-size: 18px;
}

.skill-item ul {
  list-style: disc;
  font-size: 10px;
  color: #4a4a4a;
}

.skill-item li {
  line-height: 1.4;
}

/* Experience */
.experience {
  margin-bottom: 56px;
}

.experience h2 {
  text-align: center;
  font-size: 24px;
  color: #1736dc;
  font-weight: bold;
  margin-bottom: 48px;
}

.experience-content {
  position: relative;
  width: 570px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 92px 0 46px;
}

.experience-content img.hex-shape {
  position: absolute;
  display: block;
  margin: 0 auto;
  top: 0;
  left: 47.4%;
}

.experience-content .vertical-line {
  position: absolute;
  width: 2px;
  height: 100%;
  background: #d8d8d8;
  top: 0;
  left: 50%;
}

.experience-content .bottom-line {
  position: absolute;
  width: 46px;
  height: 4px;
  background: #d8d8d8;
  left: 46.2%;
  bottom: 0;
}

.experience-content .experience-item {
  position: relative;
  width: 260px;
  border: 1px solid #000;
  padding: 8px 10px 12px 11px;
  border: 1px solid #fb56bf;
  border-radius: 5px;
  background: #fff;
}

.experience-item p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.53px;
  color: #4a4a4a;
  margin-bottom: 10px;
}

.experience-item h3 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.53px;
  color: #8a1737;
  font-weight: bold;
  margin: 0 0 12px;
}

.experience-item .description {
  font-size: 10px;
  color: #9b9b9b;
  letter-spacing: 0.44px;
  line-height: 18px;
  margin-bottom: 0;
}

.experience-item:nth-of-type(2n-1) img {
  position: absolute;
  top: 0;
  left: -37px;
  z-index: 10;
}

.experience-item:nth-of-type(2n) {
  align-self: flex-start;
  text-align: right;
}

.experience-item:nth-of-type(2n) img {
  position: absolute;
  top: 0;
  right: -38px;
  z-index: 10;
}

/* works */
.works {
  margin-bottom: 98.4px;
}

.works h2 {
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  color: #fb56bf;
  font-weight: bold;
  margin-bottom: 46px;
}

.work-content {
  display: flex;
  justify-content: center;
}

.work-content .work-item {
  width: 284px;
  background: #fff;
  margin-right: 16px;
  transition: box-shadow 0.5s;
}

.work-content .work-item:hover {
  box-shadow: 0 0 5px gray;
}

.work-item .work-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.work-item:first-child .work-img {
  background: #fdb4e3;
}
.work-item:nth-child(2) .work-img {
  background: #424242;
}
.work-item:last-child .work-img {
  background: #8ad7fa;
}

.work-item .work-item-content {
  padding: 9px 8px;
}

.work-item-content h3 {
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
}

.work-item-content p {
  font-size: 14px;
  line-height: 19px;
  color: #4a4a4a;
}

/* about */
.about {
  margin-bottom: 74px;
}

.about h2 {
  text-align: center;
  margin-bottom: 48.6px;
  font-size: 24px;
  line-height: 32px;
  color: #fb56bf;
  font-weight: bold;
}

.about-content {
  display: flex;
  justify-content: center;
}

.about-content .about-img {
  width: 260px;
  margin-right: 44px;
}

.about-content .about-text {
  margin-top: 26.4px;
  width: 442px;
}

.about-text p {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 30px;
  color: #4a4a4a;
  text-align: justify;
}
/* footer */
footer {
  background: url('../images/img-Looper-bg.png');
}
footer p {
  text-align: center;
  padding: 34px 0 32px;
  font-size: 16px;
  line-height: 21px;
}
